    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{model.name}} {{#link-to 'project.edit' this class="btn btn-xs btn-primary"}}Edit{{/link-to}} <button class='btn btn-danger btn-xs' {{action "deleteProject"}}>delete</button>
            </h1>

        </div>
    </div>
    {{#if canAddTasks}}
        <div class="row">
            <div class="col-lg-12">
                <h2>Tasks</h2>
                <form {{action "addTodo" on="submit"}}>
                    {{input value=todo}}
                    <button type='submit' >Submit</button>
                </form>
            </div>
        </div>
    {{/if}}

    <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul>
                {{#with model as parent}}
                    {{#each tasks itemController="task"}}
                        {{#with this}}
                            <li> {{view Ember.Checkbox checked=model.done}} {{input value=model.todo}} <a href="#" {{action "deleteTodo" this parent}}>delete</a> </li>
                        {{/with}}
                    {{/each}}

                {{/with}}
            </ul>
        </div>
    </div>
