<form role="form">
  <h2>Change Password</h2>
  {{form-errors errors=errors}}

  <div class="form-group">
    <label for="oldEmail">Email address</label>
    {{input type="email" class="form-control" id="oldEmail" placeholder="Enter email" value=currentUser.auth.password.email readonly=true}}
  </div>
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    {{input type="password" class="form-control" id="oldPassword" placeholder="Old Password" value=model.oldPassword}}
  <oldPdiv>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    {{input type="password" class="form-control" id="newPassword" placeholder="New Password" value=model.newPassword}}
  </newPiv>
  <button type="submit" class="btn btn-default" {{action "change"}}>Submit</button>
</form>
